<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="contact-form">
      <div class="panel-body">
		<%= simple_form_for @status do |f| %>
		  <div class="form-group">
			  <%= f.label :present %><br />
			  <%= f.input_field  :present, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.label :absent %><br />
			  <%= f.input_field :absent, class: "form-control"  %>
		  </div>
		  <div class="form-group">
			  <%= f.label :sick_leave %><br />
			  <%= f.input_field :sick_leave, class: "form-control" %>
		  </div>
		  <div class="form-group">
			  <%= f.label :day_off %><br />
			  <%= f.input_field :day_off, class: "form-control"  %>
		  </div>
		  <div class="form-group">
		  	<%= f.submit "Add Status", class: "btn btn-info" %>
		  </div>
		<% end %>
	  </div>
	</div>
    <br>
    <p>or <%= link_to 'Return', statuses_path %> </p>
  </div>
</div>