<%= simple_form_for @attendance do |f| %>
  <%= f.input :day %>
  <%= f.input :working_hours %>
  <%= f.input :employee_id, :input_html => { :value => @my_id }%>
  <%= f.input :status_id %>
  <%= f.button :submit %>
    <br>
  <p>or <%= link_to 'Return', attendances_path %> </p>
<% end %>