
<p>
  <strong>Day:</strong>
  <%= @attendance.day %>
</p>

<p>
  <strong>Working Hours:</strong>
  <%= @attendance.working_hours %>
</p>

<p>
  <strong>Employee id:</strong>
  <%= @attendance.employee_id %>
</p>

<p>
  <strong>Status id:</strong>
  <%= @attendance.status_id %>
</p>

<%= link_to 'Back', attendances_path %>
